<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataset Description</title>
    
</head>
<body style="background-color: #f3e0c4;">
    <h1>Dataset Description</h1>

    <p>The Sample Superstore dataset contains information about orders from a retail superstore. </p>
    <h1>Definition of Each Variable :</h1>

    <ul>
        <li><b>Row ID:</b> Unique identifier for each row.</li>
        <li><b>Order ID:</b> Unique identifier for each order.</li>
        <li><b>Order Date:</b> Date when the order was placed.</li>
        <li><b>Ship Date:</b> Date when the order was shipped.</li>
        <li><b>Ship Mode:</b> Shipping mode for the order (e.g., Second Class, First Class, Standard Class).</li>
        <li><b>Customer ID:</b> Unique identifier for each customer.</li>
        <li><b>Customer Name:</b> Name of the customer.</li>
        <li><b>Segment:</b> Market segment of the customer (e.g., Consumer, Corporate, Home Office).</li>
        <li><b>Country:</b> Country where the customer is located.</li>
        <li><b>City:</b> City where the customer is located.</li>
        <li><b>State:</b> State where the customer is located.</li>
        <li><b>Postal Code:</b> Postal code of the customer's location.</li>
        <li><b>Region:</b> Geographical region of the customer (e.g., West, South, Central, East).</li>
        <li><b>Product ID:</b> Unique identifier for each product.</li>
        <li><b>Category:</b> Product category (e.g., Furniture, Technology, Office Supplies).</li>
    </ul>
    <h1>Source of the data :</h1> <a href="https://www.kaggle.com/datasets/konstantinognev/sample-superstorecsv/" target="_blank">Link to the Source Page</a> 
</body>
</html>
